<h2>Matrix Tutorial</h2>

SPVM has Matrix modules. 

<h3>Numeric Type Matrix</h3>

Matrix element can be byte, short, int, long, float, double types in numeric types.

Corresponding modules are <a href="https://metacpan.org/pod/SPVM::Matrix::Byte">SPVM::Matrix::Byte</a>, <a href="https://metacpan.org/pod/SPVM::Matrix::Short">SPVM::Matrix::Short</a>, <a href="https://metacpan.org/pod/SPVM::Matrix::Int">SPVM::Matrix::Int</a>, <a href="https://metacpan.org/pod/SPVM::Matrix::Long">SPVM::Matrix::Long</a>, <a href="https://metacpan.org/pod/SPVM::Matrix::Float">SPVM::Matrix::Float</a>, <a href="https://metacpan.org/pod/SPVM::Matrix::Double">SPVM::Matrix::Double</a>.

These modules have matrix elements, number of rows, and number of columns as fields.

These modules also have methods to do additions, subtractions, multiplications, scalar multiplys, transpositions, and string conversions.

<h3>Matrix Examples</h3>

You can find a sample matrix here.

<a href="https://github.com/yuki-kimoto/SPVM/tree/master/examples/matrix">Matrix Examples</a>

<h3>Matrix Tutorial</h3>

When do we use a numerci matrix?

One example is when you want to solve a system of simultaneous equations.

Solving simultaneous equations using a matrix can also be used in deep learning calculations.

Let's calculate the matrix using the float type in anticipation of calculating with CUDA.

The following is a Perl program. Calling SPVM subroutine.

<pre>
use strict;
use warnings;

use FindBin;
use lib "$FindBin::Bin/lib";

use SPVM 'MyMatrix';

MyMatrix->add_float_matrix;

MyMatrix->sub_float_matrix;

MyMatrix->scamal_float_matrix;

MyMatrix->mal_float_matrix;
</pre>

The following are SPVM modules.

The addition, subtract, multiply, scalar multiply, and convert matrix to string.

Note that the SPVM matrix module is column-major.

<pre>
package MyMatrix {
  use SPVM::Matrix::Float;
  
  sub add_float_matrix : void () {
    # 1 3 5
    # 2 4 6
    my $mat1 = SPVM::Matrix::Float->new([1f, 2f, 3f, 4f, 5f, 6f], 2, 3);
    
    # 2 4 6
    # 3 5 7
    my $mat2 = SPVM::Matrix::Float->new([2f, 3f, 4f, 5f, 6f, 7f], 2, 3);
    
    my $mat3 = $mat1->add($mat2);
    
    print $mat3->str . "\n";
  }

  sub sub_float_matrix : void () {
    # 1 3 5
    # 2 4 6
    my $mat1 = SPVM::Matrix::Float->new([1f, 2f, 3f, 4f, 5f, 6f], 2, 3);
    
    # 2 4 6
    # 3 5 7
    my $mat2 = SPVM::Matrix::Float->new([2f, 3f, 4f, 5f, 6f, 7f], 2, 3);
    
    my $mat3 = $mat1->sub($mat2);
    
    print $mat3->str . "\n";
  }

  sub scamul_float_matrix : void () {
    # 1 3 5
    # 2 4 6
    my $mat1 = SPVM::Matrix::Float->new([1f, 2f, 3f, 4f, 5f, 6f], 2, 3);
    
    my $mat3 = $mat1->scamul(3f);
    
    print $mat3->str . "\n";
  }

  sub mul_float_matrix : void () {
    # 1 3 5
    # 2 4 6
    my $mat1 = SPVM::Matrix::Float->new([1f, 2f, 3f, 4f, 5f, 6f], 2, 3);
    
    # 2 5
    # 3 6
    # 4 7
    my $mat2 = SPVM::Matrix::Float->new([2f, 3f, 4f, 5f, 6f, 7f], 3, 2);
    
    my $mat3 = $mat1->mul($mat2);
    
    print $mat3->str . "\n";
  }
}
</pre>

Output are:

<pre>
3 7 11
5 9 13

-1 -1 -1
-1 -1 -1

3 9 15
6 12 18

31 58
40 76
</pre>

