<h2>SPVM Getting Started and How to improve SPVM Performance</h2>
  
  <h3 id="tutorial-sum-array">
    Calculate the sum of arrays
  </h3>
  
  <p>
    As a first simple example, let's find the sum of arrays.
  </p>
  <h4>Create SPVM module</h4>
  <p>
    Create a file called "MyMath.spvm" in the lib directory. <b>SPVM source files have the extension “.spvm”</b>. Describe the following contents.
  </p>
<pre>
# lib/MyMath.spvm
package MyMath {
  sub sum :int ($nums :int[]) {
    my $total = 0;
    for (my $i = 0; $i <@$nums; $i++) {
      $total += $nums->[$i];
    }
    return $total;
  }
}
</pre>
  
  <p>
    SPVM uses <b>package syntax</b> to create packages. It has the same syntax as Perl's package block syntax.
  </p>
<pre>
# Package syntax
package MyMath {

}
</pre>
  <p>
    You can <b>define a subroutine</b> inside a package block.
  </p>
<pre>
package MyMath {
  sub sum :int ($nums :int[]) {

  }
}
</pre>
  
  <p>
    SPVM is a statically typed language, so describe the return type, argument name and argument type in the <b>subroutine declaration</b>.
  </p>
  <p>
    The return value is "int type". The argument is an "int type array". The <b>int type represents a 32-bit signed integer</b>.
  </p>
  <p>
    Let's look at the part where the sum of the arrays is calculated.
  </p>
<pre>
my $total = 0;
for (my $i = 0; $i <@$nums; $i++) {
  $total += $nums->[$i];
}

return $total;
</pre>
  <p>
    The way the sum is calculated looks exactly like what I wrote with the for statement in Perl.
  </p>
  <p>
    In this way, SPVM has one of the characteristics that it can be described in the same syntax as M<b>Perl</b>. It is designed to minimize the burden of learning the new syntax for Perl users.
  </p>
  <p>
    You can omit the type using <b>type inference</b> in the variable declaration.
  </p>
<pre>
my $total = 0;
</pre>
  <p>
    SPVM's type inference can omit the type declaration on the left side when the type on the right side is fixed.
  </p>
  <p>
    Since the numeric literal "0" is "int type", the type of "$total" is also "int type". It has the same meaning as described below.
  </p>
<pre>
my $total : int = 0;
</pre>
  <p>
    <b>Array length</b> can be obtained by using "@".
  </p>
<pre>
@$nums
</pre>
  <p>
    In SPVM, there is no context and "@" always returns the length of the array.
  </p>
  <p>
    Next, let's call a subroutine written in SPVM from the Perl side.
  <p>
  <h4>Call SPVM module</h4>
  <p>
    Create a file called "sum.pl" and describe the following contents.
  </p>
  <p>
    Call the "sum" subroutine of the "MyMath" package written in SPVM to calculate the sum of the arrays.
  </p>
<pre>
use FindBin;
use lib "$FindBin::Bin/lib";

use SPVM'MyMath';

my $sp_nums = SPVM::new_int_array([3, 6, 8, 9]);

my $total = MyMath->sum($sp_nums);

print $total ."\n";
</pre>
  <p>
    First, add the <b>lib directory to the module search path</b>.
  </p>
<pre>
# add lib directory to module search path
use FindBin;
use lib "$FindBin::Bin/lib";
</pre>
  <p>
    Then <b>load the SPVM module</b>.
  </p>
<pre>
# Load SPVM module
use SPVM'MyMath';
</pre>
  <p>
    You can load the SPVM module with the description "use SPVM'SPVM module name'".
  </p>
  <p>
    Then <b>create an array of SPVMs</b>.
  </p>
<pre>
# Int type array creation
my $sp_nums = SPVM::new_int_array([3, 6, 8, 9]);
</pre>
  <p>
    You can use the <b>SPVM::new_int_array function</b> to create a SPVM int array by passing an array reference.
  </p>
  <p>
    <b>Call the sum subroutine of the MyMath package</b>.
  </p>
<pre>
# Call the sum subroutine of the MyMath package
my $total = MyMath->sum($sp_nums);
</pre>
  <p>
    Note that <b>SPVM subroutine calls are Perl class method calls. </b>It cannot be called with the absolute name MyMath::sub.
  </p>
  
  <p>
    The return value of the sum function is "int type", but the SPVM integer type is automatically converted to the Perl scalar type.
  </p>



=head1 SYNOPSIS

SPVM Module:

<pre>
# lib/MyMath.spvm
package MyMath {
  sub sum : int ($nums : int[]) {
    
    my $total = 0;
    for (my $i = 0; $i < @$nums; $i++) {
      $total += $nums->[$i];
    }
    
    return $total;
  }
}
</pre>

Use SPVM Module from Perl

<pre>
# spvm.pl
use strict;
use warnings;
use FindBin;
use lib "$FindBin::Bin/lib";

use SPVM 'MyMath';

# Initialize SPVM
UNITCHECK { SPVM::init() }

# Call subroutine
my $total = MyMath->sum([3, 6, 8, 9]);

print "Total: $total\n";

# Call subroutine with packed data
my $nums_packed = pack('l*', 3, 6, 8, 9);
my $sv_nums = SPVM::new_int_array_from_bin($nums_packed);
my $total_packed = MyMath->sum($sv_nums);

print "Total Packed: $total_packed\n";
</pre>

Precompiled SPVM Subroutine. This means SPVM code is converted to Machine Code:

<pre>
# lib/MyMath.spvm
package MyMath {
  precompile sub sum_precompile : int ($nums : int[]) {
    
    my $total = 0;
    for (my $i = 0; $i < @$nums; $i++) {
      $total += $nums->[$i];
    }
    
    return $total;
  }
}
</pre>

Call SPVM Precompile Subroutine from Perl

<pre>
# spvm.pl
use strict;
use warnings;
use FindBin;
use lib "$FindBin::Bin/lib";

use SPVM 'MyMath';

# Initialize SPVM
UNITCHECK { SPVM::init() }

# Call precompile subroutine
my $total_precompile = MyMath->sum_precompile([3, 6, 8, 9]);

print "Total Precompile: $total_precompile\n";
</pre>

SPVM Native Subroutine. This means SPVM subroutine call C/C++ native subroutine:

<pre>
# lib/MyMath.spvm
package MyMath {
  native sub sum_native : int ($nums : int[]);
}

// lib/MyMath.c
#include "spvm_native.h"

int32_t SPNATIVE__MyMath__sum_native(SPVM_ENV* env, SPVM_VALUE* stack) {
  
  void* sv_nums = stack[0].oval;
  
  int32_t length = env->length(env, sv_nums);
  
  int32_t* nums = env->get_elems_int(env, sv_nums);
  
  int32_t total = 0;
  for (int32_t i = 0; i < length; i++) {
    total += nums[i];
  }
  
  stack[0].ival = total;
  
  return SPVM_SUCCESS;
}

# lib/MyMath.config

use strict;
use warnings;

use SPVM::Builder::Config;
my $bconf = SPVM::Builder::Config->new_c99;

$bconf;
</pre>

Use SPVM Native Subroutine from Perl

<pre>
# spvm.pl
use strict;
use warnings;
use FindBin;
use lib "$FindBin::Bin/lib";

use SPVM 'MyMath';

# Initialize SPVM
UNITCHECK { SPVM::init() }

# Call native subroutine
my $total_native = MyMath->sum_native([3, 6, 8, 9]);

print "Total Native: $total_native\n";
</pre>

Environment Variable "SPVM_BUILD_DIR" must be set for precompile and native subroutine

<pre>
# bash example
export SPVM_BUILD_DIR=~/.spvm_build
</pre>
