<h2>How to Bind C/C++/CUDA Library to SPVM</h2>

The advantage of SPVM is that you can easily bind C/C++/CUDA.

Subroutines bound with SPVM can be easily called from Perl.

Before reading this page, you need to understand Native API.

<ul>
  <li><a href="/blog/20200702071424.html">How to improve SPVM Performance - Precompile and Native API</a></li>
</ul>

<h3>Binding your own C language library</h3>

First, let's bind our own C library.

The following source code is the completed source code.

I will explain using this source code.

<a href="https://github.com/yuki-kimoto/SPVM/tree/master/examples/native/bind_clib">SPVM Native Example - Bind C Library</a>

Create a C language library for summation and call it from Perl.

<pre>
# bind_clib.pl
use strict;
use warnings;

use FindBin;
use lib "$FindBin::Bin/lib";

use SPVM 'BindCLib';

my $total = BindCLib->sum([1, 2, 3, 4]);

print "Total: $total\n";
</pre>

SPVM Subroutine Definition.

<pre>
# lib/BindCLib.spvm
package BindCLib {
  native sub sum : int ($nums : int[]);
}
</pre>

Native Config.

<pre>
# lib/BindCLib.config
use strict;
use warnings;

use SPVM::Builder::Config;
my $bconf = SPVM::Builder::Config->new_c99;

$bconf;
</pre>

Call C library from C program.

<pre>
// lib/BindCLib.c
#include "spvm_native.h"

#include "bind_clib.h"

int32_t SPNATIVE__BindCLib__sum(SPVM_ENV* env, SPVM_VALUE* stack) {
  
  void* sv_nums = stack[0].oval;
  
  int32_t length = env->length(env, sv_nums);
  
  int32_t* nums = env->get_elems_int(env, sv_nums);
  
  int32_t total = bind_clib_sum(nums, length);
  
  stack[0].ival = total;
  
  return SPVM_SUCCESS;
}
</pre>

Notice the line reading the header.

<pre>
#include "bind_clib.h"
</pre>

This header is included from "lib/BindCLib.native/include/bind_clib.h". This is pure C header file.

<pre>
#include <inttypes.h>

int32_t bind_clib_sum(int32_t* nums, int32_t length);
</pre>

SPVM sets the include directory("BindCLib.native/include") as the default header file read path.

C library source file is "lib/BindCLib.native/src/bind_clib.c". This is pure C source file.

<pre>
#include "bind_clib.h"

int32_t bind_clib_sum(int32_t* nums, int32_t length) {
  
  int32_t total = 0;
  for (int32_t i = 0; i < length; i++) {
    total += nums[i];
  }
  
  return total;
}
</pre>

SPVM compiles all source files in the source directory("BindCLib.native/src"). It can contain multiple source files.

<h3>How to bind other C Library to SPVM</h3>

If you want to know more about the bindings of other C libraries, see the example below.

<ul>
  <li><a href="https://github.com/yuki-kimoto/SPVM/tree/master/examples/native/zlib">Bind zlib to SPVM</a></li>
  <li><a href="https://github.com/yuki-kimoto/SPVM/tree/master/examples/native/gsl">Bind GSL to SPVM</a></li>
  <li><a href="https://github.com/yuki-kimoto/SPVM/tree/master/examples/native/openmp">Bind OpenMP to SPVM</a></li>
</ul>

<h3>How to bind C++ Library to SPVM</h3>

If you want to know more about the bindings of C++ libraries to SPVM, see the example below.

<ul>
  <li><a href="https://github.com/yuki-kimoto/SPVM/tree/master/examples/native/eigen">Bind Eigen to SPVM</a></li>
</ul>

<h3>How to bind CUDA to SPVM</h3>

If you want to know more about the bindings of CUDA to SPVM, see the example below.

<ul>
  <li><a href="https://github.com/yuki-kimoto/SPVM/tree/master/examples/native/cuda_add">Bind CUDA to SPVM</a></li>
</ul>
