<!-- side -->
<div class="side-list">
  <div class="side-list-title">
    Documents
  </div>
  <ul>
    <li><a href="/purpose.html">Purpose</a></li>
    <li><a href="/tutorial.html">Tutorial</a></li>
    <li><a href="/faq.html">FAQ</a></li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
    Specification
  </div>
  <ul>
    <li><a href="/language.html">SPVM 1.0 Language Specification</a></li>
    <li><a href="/native-api.html">SPVM 1.0 Native API Specification</a></li>
    <li><a href="/exchange-api.html">SPVM 1.0 Exchange API Specification</a></li>
  </ul>
</div>
