    <div class="container">
<h2 id="exchange-api-summary">SPVM Exchange API</a></h2>
      <p>
        <b>SPVM Exchange API</b> is described in this document. SPVM is in beta testing for the release of 1.0. The SPVM Exchange API is subject to change without warning.
      </p>
      <p>
        Last updated: 2020-05-15
      </p>
      
      <ul class="toc">
        <li><a href="#exchange-api-summary">What is the SPVM Exchange API</a></li>
        <li><a href="#exchange-api-perl-data-to-spvm-data">Convert perl data structures into SPVM data structures</a></li>
        <li><a href="#exchange-api-call-spvm-sub">Calls to spvm subroutines</a></li>
        <li><a href="#exchange-api-spvm-data-to-perl-data">Converting sPVM data structures into Perl data structures</a></li>
        <li><a href="#exchange-api-utility"> utility</a></li>
        <li><a href="#exchange-api-perl-scalar-to-spvm-numeric">Rules for converting Perl Scalar Value to SPVM Numeric Value</a></li>
        <li><a href="#exchange-api-rule-spvm-numeric-to-perl-scalar">Rules for converting SPVM Numeric Value to Perl Scalar Value</a></li>
      </ul>
      
<h3 id="exchange-api-summary">What is SPVM Exchange API?</h3>
      <p>
        <b>SPVM Exchange API</b> is API for converting Perl data structure to/from SPVM data structure, and calling SPVM subroutine from Perl.
      </p>
      <ul class="list">
        <li>Convert Perl data structure such as Perl numbers, strings, arrays to/from SPVM data structure</li>
        <li>Call SPVM subroutine from Perl</li>
      </ul>
      <p>
        SPVM Module can be used as Perl module.
      </p>

<h3 id="exchange-api-perl-data-to-spvm-data">Convert Perl Data Structure to SPVM Data Structure</h3>
      <ul class="toc">
        <li><a href="#exchange-api-perl-scalar-to-SPVM-Byte">Perl Scalar Value is converted to SPVM::Byte - SPVM::Byte-</a></li>
        <li><a href="#exchange-api-perl-scalar-to-SPVM-Short">Convert Perl Scalar Value to SPVM::Short- SPVM::Short-</a></li>
        <li><a href="#exchange-api-perl-scalar-to-SPVM-Int">Perl Scalar Value is converted to SPVM::Int type - SPVM::Int-&gt;new</a></li>
        <li><a href="#exchange-api-perl-scalar-to-SPVM-Long">Perl Scalar Value is converted to SPVM::Long - SPVM::Long-&gt;new</a></li>
        <li><a href="#exchange-api-perl-to-SPVM-Float">Perl Scalar Value is converted to SPVM::Float- SPVM::Float-</a></li>
        <li><a href="#exchange-api-perl-scalar-to-SPVM-Double">Convert Perl Scalar Value to SPVM::Double type - SPVM::Double-&gt;new</a></li>
        <li><a href="#exchange-api-perl-array-ref-to-spvm-byte-array">Convert Perl array reference to SPVM byte[] type - SPVM::new_byte_array</a></li>
        <li><a href="#exchange-api-perl-array-ref-to-spvm-short-array">Convert perl array reference to short[] type Of SPVM - SPVM::new_short_array</a></li>
        <li><a href="#exchange-api-perl-array-ref-to-spvm-int-array">Convert Perl array reference to SPVM int[] type - SPVM::new_int_array</a></li>
        <li><a href="#exchange-api-perl-array-ref-to-spvm-long-array">Convert Perl array reference to Long[] type of SPVM - SPVM::new_long_array</a></li>
        <li><a href="#exchange-api-perl-array-ref-to-spvm-float=array">Convert Perl array reference to SPVM float[] type - SPVM::new_float_array</a></li>
        <li><a href="#exchange-api-perl-array-ref-to-spvm-double-array">Convert perl array reference to spvm double[] type - SPVM::new_double_array</a></li>
        <li><a href="#exchange-api-perl-array-ref-to-spvm-object-array">Convert perl array reference to array type of SPVM object - SPVM::new_object_array</a></li>
        <li><a href="#exchange-api-perl-array-ref-to-spvm-value-array">Convert perl array reference to array type of SPVM value - SPVM::new_mulnum_array</a></li>
        <li><a href="#exchange-api-perl-binary-to-spvm-byte-array">Convert perl binary columns to SPVM byte[] - SPVM::new_byte_array_from_bin</a></li>
        <li><a href="#exchange-api-perl-binary-to-spvm-string">Convert perl binary columns to SPVM string - SPVM::new_string_from_bin</a></li>
        <li><a href="#exchange-api-perl-binary-to-spvm-short-array">Convert perl binary columns to short[] type Of SPVM - SPVM::new_short_array_from_bin</a></li>
        <li><a href="#exchange-api-perl-binary-to-spvm-int-array">Convert perl binary columns to SPVM int[] - SPVM::new_int_array_from_bin</a></li>
        <li><a href="#exchange-api-perl-binary-to-spvm-long-array">Convert perl binary columns to Long[] type - SPVM::new_long_array_from_bin</a></li>
        <li><a href="#exchange-api-perl-binary-to-spvm-float-array">Convert perl binary columns to SPVM float[] type - SPVM::new_byte_array_from_string</a></li>
        <li><a href="#exchange-api-perl-binary-to-spvm-double-array">Convert perl binary columns to spvm double[] - SPVM::new_double_array_from_bin</a></li>
        <li><a href="#exchange-api-perl-binary-to-spvm-value-array">Convert perl binary columns to spvm value array types - SPVM::new_mulnum_array_from_bin</a></li>
        <li><a href="#exchange-api-perl-string-to-spvm-byte-array">Convert perl strings to spvm byte[] type - SPVM::new_byte_array_from_string</a></li>
        <li><a href="#exchange-api-perl-string-to-spvm-string">Convert perl strings to SPVM string - SPVM::new_string</a></li>
      </ul>

<h4 id="exchange-api-perl-scalar-to-SPVM-Byte">Convert Perl Scalar Value to SPVM::Byte Value - SPVM::Byte-&gt;new</h4>
      <p>
        To Convert Perl Scalar Value to SPVM::Byte Value, use the SPVM::Byte-&gt;new method.
      </p>
<pre>
my $spvm_byte = SPVM::Byte->new(98);
</pre>
      <p>
        Perl Scalar Value is converted to numeric byte value of SPVM by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric">Rules for Converting Perl Scalar Value to SPVM Numeric Value</a>, and the value is passed to the new method of SPVM::Byte, and SPVM:Byte object is returned.
      </p>

<h4 id="exchange-api-perl-scalar-to-SPVM-Short">Convert Perl Scalar Value to SPVM::Short - SPVM::Short-&gt;new</h4>
      <p>
        To Convert Perl Scalar Value to SPVM::Short, use the SPVM::Short-&gt;new method.
      </p>
<pre>
my $spvm_short = SPVM::Short->new(9800);
</pre>
      <p>
        Perl Scalar Value is converted to spvm short types by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric">Rules for Converting Perl Scalar Value to SPVM Numeric Value</a>, and the value is passed to the new method of SPVM:Short, and SPVM:Short object is returned.
      </p>

<h4 id="exchange-api-perl-scalar-to-SPVM-Int">Convert Perl Scalar Value to SPVM::Int - SPVM::Int-&gt;new</h4>
      <p>
        To Convert Perl Scalar Value to SPVM::Int, use the SPVM::Int-&gt;new method.
      </p>
<pre>
my $spvm_int = SPVM::Int->new(100000);
</pre>
      <p>
        Perl Scalar Value is converted to numeric int value of SPVM by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric">Rules for Converting Perl Scalar Value is converted to SPVM Numeric Value</a>, and the value is passed to the new method of SPVM::Int, and the SPVM::Int object is returned.
      </p>

<h4 id="exchange-api-perl-scalar-to-SPVM-Long">Convert Perl Scalar Value to SPVM::Long type - SPVM::Long-&gt;new</h4>
      <p>
        To Convert Perl Scalar Value to SPVM::Long, use the SPVM::Long-&gt;new method.
      </p>
<pre>
my $spvm_long = SPVM::Long->new(98);
</pre>
      <p>
        Perl Scalar Value is converted to numeric long value of SPVM by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric">Rules for Converting Perl Scalar Value is converted to SPVM Numeric Value</a>, and the value is passed to the new method of SPVM::Long, and the SPVM::Long object is returned.
      </p>

<h4 id="exchange-api-perl-scalar-to-SPVM-Float">Convert Perl Scalar Value to SPVM::Float - SPVM::Float-&gt;new</h4>
      <p>
        To Convert Perl Scalar Value to SPVM::Float, use the SPVM::Float-&gt;new method.
      </p>
<pre>
my $spvm_float = SPVM::Float->new(2.5);Rules for Converting 
</pre>
      <p>
        Perl Scalar Value is converted to numric float value of SPVM by the <a href="#exchange-#exchange-rule-perl-scalar-to-spvm-numeric">Rules for Converting Perl Scalar Value to SPVM Numeric Value</a>, and that value is passed to the new method of SPVM::Float, and SPVM::Float object is returned.
      </p>

<h4 id="exchange-api-perl-scalar-to-SPVM-Double">Convert Perl Scalar Value to SPVM::Double type - SPVM::Double-&gt;new</h4>
      <p>
        To Convert Perl Scalar Value to SPVM::Double, use the SPVM::Double-&gt;new method.
      </p>
<pre>
my $spvm_double = SPVM::Double->new(2.5);
</pre>
      <p>
        Perl Scalar Value is converted to numric double value of SPVM by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric">Rules for Converting Perl Scalar Value is converted to SPVM Numeric Value</a>, and that value is passed to the new method of SPVM::Double, and SPVM::Double object is  returned.
      </p>

<h4 id="exchange-api-perl-array-ref-to-spvm-byte-array">Convert perl array reference to spvm byte[] type - SPVM::new_byte_array</h4>
      <p>
        To convert perl array references to spvm byte[] types, use the SPVM::new_byte_array function.
      </p>
<pre>
my $spvm_nums = SPVM::new_byte_array([1, 2, 3]);
</pre>
      <p>
        Takes an array reference to the first argument.
      </p>
      <p>
        The value of each element in the array reference is converted from the Perl Scalar Value to the SPVM byte type by the rules for converting the scalar values of <a href="#exchange-#exchange-rule-perl-scalar-to-spvm-numeric">Perl Scalar Value to numeric types of SPVM</a>.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "byte[] type" of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-array-ref-to-spvm-short-array">Convert perl array reference to short[] type of SPVM</h4>
      <p>
        To convert perl array references to spvm short[] types, use the SPVM::new_short_array function.
      </p>
<pre>
my $spvm_nums = SPVM::new_short_array([1, 2, 3]);
</pre>
      <p>
        Takes an array reference to the first argument.
      </p>
      <p>
        The value of each element in the array reference is converted from the Perl Scalar Value to the Short type of SPVM by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric">Rules for Converting Perl Scalar Value is converted to a numeric type of SPVM</a>.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "short[]" type of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-array-ref-to-spvm-int-array">Convert perl array reference to SPVM int[] type</h4>
      <p>
        To convert perl array references to spvm int[] types, use the SPVM::new_int_array function.
      </p>
<pre>
my $spvm_nums = SPVM::new_int_array([1, 2, 3]);
</pre>
      <p>
        Takes an array reference to the first argument.
      </p>
      <p>
        The value of each element in the array reference is converted from the Perl Scalar Value to the spvm int type by the rule to convert the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric">Rules for Converting Perl Scalar Value to SPVM Numeric Value</a>.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "int[] type" of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-array-ref-to-spvm-long-array">Convert perl array reference to Long[] type of SPVM</h4>
      <p>
        To convert perl array references to long[] types of SPVM, use the SPVM::new_long_array function.
      </p>
<pre>
my $spvm_nums = SPVM::new_long_array ([1, 2, 3]);
</pre>
      <p>
        Takes an array reference to the first argument.
      </p>
      <p>
        The value of each element in the array reference is converted from Perl Scalar Values to long types of SPVM by the following conversions from perlapi and C99 type conversions:
      </p>
<pre>
(int64_t) SvIV (perl_value)
</pre>
      <p>
        The return value is the SPVM::Data::Array object that represents the "long[]" type of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-array-ref-to-spvm-float-array">Convert perl array reference to SPVM float[] type</h4>
      <p>
        To convert perl array references to spvm float[] types, use the SPVM::new_float_array function.
      </p>
<pre>
my $spvm_nums = SPVM::new_float_array([1, 2, 3]);
</pre>
      <p>
        Takes an array reference to the first argument.
      </p>
      <p>
        The value of each element in the array reference is converted from Perl Scalar Values to float types of SPVM by the following conversions from perlapi and C99 type conversions:
      </p>
<pre>
(float) SvNV(perl_value)
</pre>
      <p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "float[] type" of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-array-ref-to-spvm-double-array">Convert perl array reference to SPVM double[]</h4>
      <p>
        To convert perl array references to spvm double[] types, use the SPVM::new_double_array function.
      </p>
<pre>
my $spvm_nums = SPVM::new_double_array([1, 2, 3]);
</pre>
      <p>
        Takes an array reference to the first argument.
      </p>
      <p>
        The value of each element in the array reference is converted from Perl Scalar Values to double types of SPVM by the following conversions from perlapi and C99 type conversions:
      </p>
<pre>
(double) SvNV(perl_value)
</pre>
      <p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "double[] type" of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-array-ref-to-spvm-object-array">Convert perl array reference to array type of SPVM object - SPVM::new_object_array</h4>
      <p>
        To convert perl array references to array types of SPVM objects, use the SPVM::new_object_array function.
      </p>
<pre>
my $byte_array = SPVM::new_object_array("SPVM::Byte[]",[SPVM::Byte->new(1), SPVM::Byte>new(2), SPVM::Byte->new(3)]);
</pre>
      <p>
        The first argument specifies the type name. It must be an array type that is an element of the base type that exists. Otherwise, an exception is raised.
      </p>
      <p>
        The second argument is perl array reference. The element must be an object that inherits "SPVM::Data" representing the object type of the SPVM, or an undefined value. Otherwise, an exception is raised.
      </p>
      <p>
        The return value is an "SPVM::Data::Array" object that represents the array type of the SPVM.
      </p>
      <p>
        You can also generate multidimensional arrays.
      </p>
<pre>
my $object1 = SPVM::new_int_array ([1, 2, 3]);
my $object2 = SPVM::new_int_array ([4, 5, 6]);
my $oarray = SPVM::new_object_array ("int[][]",[$object1, $object2]);
</pre>

<h4 id="exchange-api-perl-array-ref-to-spvm-value-array">Convert perl array reference to array type of SPVM value - SPVM::new_mulnum_array</h4>
      <p>
        To convert perl array references to array types of SPVM values, use the SPVM::new_mulnum_array function.
      </p>
<pre>
    my $perl_values = [
      {x => 0, y => 1, z => 2},
      {x => 3, y => 4, z => 5},
      {x => 6, y => 7, z => 8},
    ];
    my $spvm_value_array = SPVM::new_mulnum_array("TestCase::Point_3i[],$values);
</pre>
      <p>
        The first argument specifies the array type of the value of the SPVM.
      </p>
      <p>
        The second argument is an array reference with a hash reference on the element. The key of the hash reference must contain the values of all fields of multinumeric type. Otherwise, an exception is raised.
      </p>
      <p>
        The return value is an "SPVM::Data::Array" object that represents the array type of the Value of SPVM.
      </p>
      <p>
        The values in the hash reference is converted by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric">Rules for Converting Perl Scalar Value by </a> rules that convert scalar values to SPVM Numeric Value.
      </p>
      <p>
        There are some samples.
      </p>
<pre>
# new_mulnum_array - byte
{
  my $values = [
    {x => 0, y => 1, z => 2},
    {x => 3, y => 4, z => 5},
    {x => 6, y => 7, z => 8},
  ];
  my $spvm_value_array = SPVM::new_mulnum_array("TestCase::Point_3b[]", $values);
}

# new_mulnum_array - short
{
  my $values = [
    {x => 0, y => 1, z => 2},
    {x => 3, y => 4, z => 5},
    {x => 6, y => 7, z => 8},
  ];
  my $spvm_value_array = SPVM::new_mulnum_array("TestCase::Point_3s[]",$values);
}

# new_mulnum_array - int
{
  my $values = [
    {x => 0, y => 1, z => 2},
    {x => 3, y => 4, z => 5},
    {x => 6, y => 7, z => 8},
  ];
  my $spvm_value_array = SPVM::new_mulnum_array("TestCase::Point_3i[],$values);
}

# new_mulnum_array - long
{
  my $values = [
    {x => 0, y => 1, z => 2},
    {x => 3, y => 4, z => 5},
    {x => 6, y => 7, z => 8},
  ];
  my $spvm_value_array = SPVM::new_mulnum_array("TestCase::Point_3l[]", $values);
}

# new_mulnum_array - float
{
  my $values = [
    {x => 0, y => 1, z => 2},
    {x => 3, y => 4, z => 5},
    {x => 6, y => 7, z => 8},
  ];
  my $spvm_value_array = SPVM::new_mulnum_array("TestCase::Point_3f[]",$values);
}

# new_mulnum_array - double
{
  my $values = [
    {x => 0, y => 1, z => 2},
    {x => 3, y => 4, z => 5},
    {x => 6, y => 7, z => 8},
  ];
  my $spvm_value_array = SPVM::new_mulnum_array("TestCase::Point_3d[],"$values);
  ok (TestCase:: ExchangeAPI-spvm_new_mulnum_array_double ($spvm_value_array));
  my $out_values = $spvm_value_array->to_elems;
  is_deeply ($out_values, $values);
}

</pre>

<h4 id="exchange-api-perl-binary-to-spvm-byte-array">Convert perl binary columns to spvm byte[] type - SPVM:new_byte_array_from_bin</h4>
      <p>
        To convert perl binary columns to the byte[] type of SPVM, use the SPVM::new_byte_array_from_bin function.
      </p>
<pre>
my $perl_binary = pack('c3', 97, 98, 99);
my $spvm_byte_array = SPVM::new_byte_array_from_bin ($perl_binary);
</pre>
      <p>
        The first argument takes perl binary columns.
      </p>
      <p>
        Binary columns are interpreted as 8-bit signed integers arranged in byte order in the execution environment. The length is the length when interpreted as an 8-bit signed integer.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "byte[] type" of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>
      <p>
        The sample above also has the same meaning as: Binary columns can be a sequence of 8-bit signed integers, using a pack or a string that is not perl decode.
      </p>
<pre>
my $binary ="abc";
my $spvm_byte_array = SPVM::new_byte_array_from_bin ($perl_binary);
</pre>

<h4 id="exchange-api-perl-binary-to-spvm-string">Convert perl binary columns to SPVM string - SPVM::new_string_from_bin</h4>

<p>
        To convert perl binary columns to SPVM string types, use the SPVM::new_string_from_bin function.
      </p>
<pre>
my $perl_binary = pack('c3', 97, 98, 99);
my $spvm_byte_array = SPVM::new_string_from_bin($perl_binary);
</pre>
      <p>
        The first argument takes perl binary columns.
      </p>
      <p>
        Binary columns are interpreted as 8-bit signed integers arranged in byte order in the execution environment. The length is the length when interpreted as an 8-bit signed integer.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "byte[] type" of SPVM. The string type of SPVM is treated as a byte[] type at run time.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>
      <p>
        The sample above also has the same meaning as: Binary columns can be a sequence of 8-bit signed integers, using a pack or a string that is not perl decode.
      </p>
<pre>
my $binary ="abc";
my $spvm_byte_array = SPVM::new_byte_array_from_bin ($perl_binary);
</pre>

<p>
        This function is actually an alias for <a href="#exchange-api-perl-binary-to-spvm-byte-array">SPVM::new_byte_array_from_bin</a>.
      </p>
      
<h4 id="exchange-api-perl-binary-to-spvm-short-array">Convert perl binary columns to short[] type Of SPVM - SPVM:new_short_array_from_bin</h4>
      <p>
        To convert perl binary columns to the short[] type of SPVM, use the SPVM::new_short_array_from_bin function.
      </p>
<pre>
my $perl_binary = pack('s3', 97, 98, 99);
my $spvm_short_array = SPVM::new_short_array_from_bin ($perl_binary);
</pre>
      <p>
        The first argument takes perl binary columns.
      </p>
      <p>
        Binary columns are interpreted as a 16-bit signed integer sequence arranged in byte order in the execution environment. The length is the length when interpreted as a 16-bit signed integer.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "short[]" type of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-binary-to-spvm-int-array">Convert perl binary columns to spvm int[] - SPVM::new_int_array_from_bin</h4>
      <p>
        To convert perl binary columns to the SPVM int[] type, use the SPVM::new_int_array_from_bin function.
      </p>
<pre>
my $perl_binary = pack('l3', 97, 98, 99);
my $spvm_int_array = SPVM::new_int_array_from_bin ($perl_binary);
</pre>
      <p>
        The first argument takes perl binary columns.
      </p>
      <p>
        Binary columns are interpreted as a 32-bit signed integer sequence arranged in byte order in the execution environment. The length is the length when interpreted as a 32-bit signed integer.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "int[] type" of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-binary-to-spvm-long-array">Convert perl binary columns to long[] type Of SPVM - SPVM::new_long_array_from_bin</h4>
      <p>
        To convert perl binary columns to the Long[] type of SPVM, use the SPVM::new_long_array_from_bin function.
      </p>
<pre>
my $perl_binary = pack('q3', 97, 98, 99);
my $spvm_long_array = SPVM::new_long_array_from_bin ($perl_binary);
</pre>
      <p>
        The first argument takes perl binary columns.
      </p>
      <p>
        Binary columns are interpreted as a 64-bit signed integer sequence arranged in byte order in the execution environment. The length is the length when interpreted as a 64-bit signed integer.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "long[]" type of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-binary-to-spvm-float-array">Convert perl binary columns to float[] type of SPVM - SPVM::new_float_array_from_bin</h4>
      <p>
        To convert perl binary columns to the float[] type of SPVM, use the SPVM::new_float_array_from_bin function.
      </p>
<pre>
my $perl_binary = pack('f3', 0.5, 1.5, 2.5);
my $spvm_float_array = SPVM::new_float_array_from_bin ($perl_binary);
</pre>
      <p>
        The first argument takes perl binary columns.
      </p>
      <p>
        Binary columns are interpreted as 32-bit floating-point sequences arranged in byte order in the execution environment. The length is the length when interpreted as a 32-bit floating point.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "float[] type" of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-binary-to-spvm-double-array">Convert perl binary columns to spvm double[] - SPVM:new_double_array_from_bin</h4>
      <p>
        To convert perl binary columns to the double[] type of SPVM, use the SPVM::new_double_array_from_bin function.
      </p>
<pre>
my $perl_binary = pack('f3', 0.5, 1.5, 2.5);
my $spvm_double_array = SPVM::new_double_array_from_bin ($perl_binary);
</pre>
      <p>
        The first argument takes perl binary columns.
      </p>
      <p>
        Binary columns are interpreted as 32-bit floating-point sequences arranged in byte order in the execution environment. The length is the length when interpreted as a 32-bit floating point.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "double[] type" of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>

<h4 id="exchange-api-perl-binary-to-spvm-value-array">Convert perl binary columns to array types of SPVM values - SPVM::new_mulnum_array_from_bin</h4>
      <p>
        To convert perl-packed binaries to array types of SPVM values, use the SPVM::new_mulnum_array_from_bin function.
      </p>
<pre>
    my $binary = pack('l9', ($INT_MIN, 1, 2), (3, 4, 5), (6, 7, 8));
    my $spvm_value_array = SPVM::new_mulnum_array_from_bin("TestCase::Point_3i[],"$binary);
</pre>
      <p>
        The first argument specifies the Perl packed binaries. The length of the binary is multiplied by the number of multinumeric fields and the field width, which must be disdivided. Otherwise, an exception is raised.
      </p>
      <p>
        The second argument specifies the array type of the value of the SPVM.
      </p>
      <p>
        The return value is an "SPVM::Data::Array" object that represents the array type of the Value of SPVM. The length of the returned array is the length of the binary, multiplied by the number of multinumeric fields and the field width, divided.
      </p>
      <p>
        There are some samples.
      </p>
<pre>
# new_mulnum_array_from_bin - byte
{
  my $binary = pack('c9', (0, 1, 2), (3, 4, 5), (6, 7, 8));
  my $spvm_value_array = SPVM::new_mulnum_array_from_bin("TestCase::Point_3b[]", $binary);
}

# new_mulnum_array_from_bin - short
{
  my $binary = pack('s9', (0, 1, 2), (3, 4, 5), (6, 7, 8);;
  my $spvm_value_array = SPVM::new_mulnum_array_from_bin("TestCase::Point_3s[]",$binary);
}

# new_mulnum_array_from_bin - int
{
  my $binary = pack('l9', (0, 1, 2), (3, 4, 5), (6, 7, 8));
  my $spvm_value_array = SPVM::new_mulnum_array_from_bin("TestCase::Point_3i[],"$binary);
}

# new_mulnum_array_from_bin - long
{
  my $binary = pack ('q9', (0, 1, 2), (3, 4, 5), (6, 7, 8));
  my $spvm_value_array = SPVM::new_mulnum_array_from_bin("TestCase::Point_3l[]", $binary);
}

# new_mulnum_array_from_bin - float
{
  my $binary = pack('f9', (0, 1, 2), (3, 4, 5), (6, 7, 8));
  my $spvm_value_array = SPVM::new_mulnum_array_from_bin("TestCase::Point_3f[],"$binary);
}

# new_mulnum_array_from_bin - double
{
  my $binary = pack('d9', (0, 1, 2), (3, 4, 5), (6, 7, 8));
  my $spvm_value_array = SPVM::new_mulnum_array_from_bin("TestCase::Point_3d[],"$binary);
}
</pre>
      
<p>
        The first argument specifies the array type of the value of the SPVM.
      </p>
      <p>
        The second argument is an array reference with a hash reference on the element. The key of the hash reference must contain the values of all fields of multinumeric type. Otherwise, an exception is raised.
      </p>

<h3 id="exchange-api-spvm-data-to-perl-data">Convert ing SPVM data structures into Perl data structures</h3>
      <ul class="toc">
        <li><a href="#exchange-api-spvm-array-to-perl-array-ref">Convert spvm array to Perl array reference - to_elems</a></li>
        <li><a href="#exchange-api-spvm-array-to-perl-binary">Convert ing an array of SPVM to perl binary columns - to_bin</a></li>
        <li><a href="#exchange-api-spvm-string-to-perl-string">Convert spvm strings to Perl strings - to_string</a></li>
        <li><a href="#exchange-api-spvm-string-array-to-perl-string-string-array-ref">Convert ing an array of SPVM strings into perl string array reference - to_strings</a></li>
      </ul>
      
<h4 id="exchange-api-spvm-array-to-perl-array-ref">Convert sPVM array to Perl array reference - to_elems</h4>
      <p>
        To convert an array of SPVM to perl array reference, use the SPVM::Data::Array to_elems method.
      </p>
<pre>
my $perl_array_ref = $spvm_array->to_elems;
</pre>
      <p>
        If the elements of the SPVM array are numeric types, the <a href="#exchange-api-rule-spvm-numeric-to-perl-scalar">SPVM Numeric Value is converted by the</a> rules that convert numeric types of Perl to Perl Scalar Values.
      </p>
      <p>
        If the element of the SPVM array is an object type, the corresponding SPVM::Data or its subclass is created.
      </p>
      <p>
        If the elements of the SPVM array are multinumeric types, a hash reference is created with the key and value of the field. The value is converted by a rule that converts the numeric type of <a href="#exchange-api-rule-spvm-numeric-to-perl-scalar">SPVM to Perl Scalar Values</a>.
      </p>
      <p>
        If the elements of the SPVM array are undefined values, they is converted to undefined Perl values.
      </p>

<h4 id="exchange-api-spvm-array-to-perl-binary">Convert ing an array of SPVM to perl binary columns - to_bin</h4>
      <p>
        To convert an array of SPVM to perl binary columns, use the SPVM::Data::Array to_bin method.
      </p>
<pre>
my $perl_binary = $spvm_array-to_bin;
</pre>
      <p>
        If the array of SPVM is a numeric array type or a value array type, the binary representation in SPVM is copied directly into the scalar variable.
      </p>
      <p>
        If the Array of SPVM is of any other type, an exception is raised.
      </p>

<h4 id="exchange-api-spvm-string-to-perl-string">Convert sPVM strings to Perl strings - to_string</h4>
      <p>
        To convert an SPVM string to a Perl string, use the SPVM::Data::Array to_string method.
      </p>
<pre>
my $perl_array_ref = $spvm_array->to_string;
</pre>
      <p>
        If the SPVM type is of byte[] or string type, it is converted to a string decoded by Perl UTF-8.
      </p>
      <p>
        If the Data in SPVM is an undefined value, it is converted to an undefined value in Perl.
      </p>
      <p>
        If the Data in SPVM is of a type other than the above, an exception is raised.
      </p>

<h4 id="exchange-api-spvm-string-array-to-perl-string-string-string-array-ref">Convert an array of SPVM strings to an array reference of Perl strings - to_strings</h4>
      <p>
        To convert an array of SPVM strings to an array reference of Perl strings, use the SPVM::Data::Array to_strings method.
      </p>
<pre>
my $perl_array_ref = $spvm_array->to_strings;
</pre>
      <p>
        If the SPVM type is of byte[]], or string[], it is converted to a reference for an array of perl UTF-8 decoded strings.
      </p>
      <p>
        If an element of the SPVM array type is an undefined value, it is converted to an undefined value in Perl.
      </p>
      <p>
        If the Data in SPVM is of a type other than the above, an exception is raised.
      </p>

<h3 id="exchange-api-call-spvm-sub">Calling subroutines for SPVM</h3>
      
<ul class="toc">
  <li><a href="#exchange-api-call-spvm-sub-use-module">Loading SPVM module</a></li>
  <li><a href="#exchange-api-call-spvm-sub-sub-call">Subroutine call</a></li>
  <li><a href="#exchange-api-call-spvm-sub-method-call">Method call</a></li>
  <li><a href="#exchange-api-call-spvm-sub-convert-argument"> conversion in argument</a></li>
  <li><a href="#exchange-api-call-sub-convert-return-value"> conversion </a></li> in return value
</ul>
      
<h4 id="exchange-api-call-spvm-sub-use-module">Loading SPVM modules</h4>
<p>
  The SPVM module can be loaded from Perl as follows: The module name and search rules are the same as Perl, except that the extension is "spvm".
</p>

<pre>
# script.pl
use SPVM 'Foo';
</pre>

      <p>
        Suppose the following Foo.spvm is placed on the module search path.
      </p>

<pre>
# Foo.spvm
package Foo {
  sub sum: int ($ x1: int, $ x2: int) {
    
    return $ x1 + $ x2;
  }
}
</pre>

      <h4 id = "exchange-api-call-spvm-sub-sub-call"> Subroutine call </h4>
      <p>
        In order to call a subroutine, the SPVM module must be loaded by <a href="#exchange-api-call-spvm-sub-use-module"> Load SPVM module </a>.
      </p>
      
<pre>
# script.pl

use SPVM 'Foo';
</pre>

      <p>
        Suppose the following Foo.spvm is placed on the module search path.
      </p>

<pre>
# Foo.spvm
package Foo {
  sub sum: int ($ x1: int, $ x2: int) {
    
    return $ x1 + $ x2;
  }
}
</pre>

      <p>
        SPVM subroutines are wrapped in Perl subroutines and can be called using Perl class method calls.
      </p>

<pre>
# script.pluse SPVM 'Foo';

my $total = Foo->sum(1, 2);
</pre>
      <p>
        If the number of arguments does not match the number of arguments of the SPVM subroutine, an exception will be thrown.
      </p>
      <p>
        The Perl value passed as an argument is converted to the SPVM value by <a href="#exchange-api-call-spvm-sub-convert-argument"> Conversion in argument </a>.
      </p>
      <p>
        If the converted type does not match the argument type of the SPVM subroutine, an exception is thrown.
      </p>
      <p>
        The return value is transformed by the conversion on the return value.
      </p>
      <p>
        SPVM exceptions is converted to Perl exceptions.
      </p>

      <h4 id = "exchange-api-call-spvm-sub-method-call"> method call </h4>
      <p>
        In order to call the method, the SPVM module must be loaded by <a href="#exchange-api-call-spvm-sub-use-module"> Load SPVM module </a>.
      </p>
      
<pre>
# script.pl

use SPVM 'Foo';
</pre>

      <p>
        Suppose the following Foo.spvm is placed on the module search path.
      </p>

<pre>
# Foo.spvm
package Foo {
  sub new: Foo {
    return new Foo;
  }
  
  sub sum: int ($ self: self, $ x1: int, $ x2: int) (
    return $ x1 + $ x2;
  }
}
</pre>

      <p>
        SPVM methods are wrapped in Perl subroutines and can be called using Perl method calls.
      </p>

<pre>
# script.pl

use SPVM 'Foo';

my $ foo = Foo-> new;

my $ total = $ foo-> sum (1, 2);
</pre>
      <p>
        If the number of arguments does not match the number of arguments of the SPVM subroutine, an exception will be thrown.
      </p>
      <p>
        The Perl value passed as an argument is converted to the SPVM value by <a href="#exchange-api-call-spvm-sub-convert-argument"> Conversion in argument </a>.
      </p>
      <p>
        If the converted type does not match the argument type of the SPVM subroutine, an exception is thrown.
      </p>
      <p>
        The return value is transformed by the conversion on the return value.
      </p>
      <p>
        SPVM exceptions is converted to Perl exceptions.
      </p>

      <h4 id = "exchange-api-call-spvm-sub-convert-argument"> Conversion in argument </h4>

      <h5> Numeric type </h5>
      <p>
        If the argument type of the SPVM subroutine definition is a numeric type, the argument value is <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric"> Perl Scalar Value. It is converted</a> to an SPVM number by the rules for converting to SPVM number types.
      </p>
<pre>
# SPVM subroutine definition
package Foo {
  sub call_byte: void ($ num: byte);
  sub call_short: void ($ num: short);
  sub call_int: void ($ num: int);
  sub call_long: void ($ num: long);
  sub call_float: void ($ num: float);
  sub call_double: void ($ num: double);
}

# Call from Perl
Foo-> call_byte (23);
Foo-> call_short (23);
Foo-> call_int (23);
Foo-> call_long (23);
Foo-> call_float (2.3);
Foo-> call_double (2.3);
</pre>

      <h5> Multiple numeric type </h5>
      <p>
        If the argument type in the SPVM subroutine definition was a multi-numeric type, the argument value must be a hash reference and the key must contain all multi-numeric field names. Otherwise, an exception will be raised. The value of the hash reference is <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric"> The rule that converts the scalar value of Perl to the numeric type of SPVM </a> Is converted to a value.
      </p>
<pre>
# SPVM subroutine definition
package Foo {
  sub call_complex_float: void ($ z: SPVM::Complex_2f);
  sub call_complex_double: void ($ z: SPVM::Complex_2d);
}

# Call from Perl
Foo-> call_complex_float ({re => 2.3, im => 5.6});
Foo-> call_complex_double ({re => 2.3, im => 5.6});
</pre>
      
      <h5> Numeric reference type </h5>
      <p>
        If the argument type in the SPVM subroutine definition was a numeric reference type, the argument value must be a scalar reference. Otherwise, an exception will be raised.
      </p>
<pre>
# SPVM subroutine definition
package Foo {
  sub call_byte_ref: void ($ num: byte &);
  sub call_short_ref: void ($ num: short &);
  sub call_int_ref: void ($ num: int &);
  sub call_long_ref: void ($ num: long &);
  sub call_float_ref: void ($ num: float &);
  sub call_double_ref: void ($ num: double &);
}

# Call from Perl
my $ num_byte = 23;
Foo-> call_byte_ref (\ $ num_byte);

my $ num_short = 23;
Foo-> call_short_ref (\ $ num_short);

my $ num_int = 23;
Foo-> call_int_ref (\ $ num_int);

my $ num_long = 23;
Foo-> call_long_ref (\ $ num_long);

my $ num_float = 23;
Foo-> call_float_ref (\ $ num_float);

my $ num_double = 23;
Foo-> call_double_ref (\ $ num_double);
</pre>
<p>
        If the argument type in the SPVM subroutine definition was a multi-numeric reference type, the argument value is a hash reference reference and the key contains all multi-numeric field names. is needed. Otherwise, an exception will be raised.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is a numeric array type, the Perl array reference is converted to the corresponding Perl SPVM::Data::Array object. The value of the element is <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric"> The rule that converts the scalar value of Perl to the numeric type of SPVM </a> Will be converted to. The argument is a string,
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is a byte[] type, the Perl decoded string is encoded in UTF-8 and represents byte[] Perl's SPVM::Data: Converted to a: Array object.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is an object type and the value passed to the argument is an undefined value, it is converted to the SPVM undefined value.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is a string compatible type and the value passed to the argument is a scalar value that is not a reference, it is encoded in UTF-8 and represents the SPVM byte[] type. Converts to a Perl SPVM::Data::Array object.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is a string compatible array type and the value passed to the argument is an array reference and the first element is a scalar value that is not a reference, SPVM byte[] Converted to a Perl SPVM::Data::Array object representing[]. If the element has an undefined value, it is converted to an SPVM undefined value, otherwise it is encoded to UTF-8 and converted to SPVM byte[] type.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is a byte[] type and the value passed to the argument is an array reference, convert it to a Perl SPVM::Data::Array object that represents byte[]. Will be done. The element value is converted by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric"> rule for converting Perl Scalar Value ​​to SPVM Numeric Value </a>.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is a short[] type and the value passed to the argument is an array reference, convert it to a Perl SPVM::Data::Array object that represents a short[]. Will be done. The element value is converted by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric"> rule for converting Perl Scalar Value ​​to SPVM Numeric Value </a>.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is int[] type and the value passed to the argument is an array reference, convert it to a Perl SPVM::Data::Array object that represents int[] Will be done. The element value is converted by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric"> rule for converting Perl Scalar Value ​​to SPVM Numeric Value </a>.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is a long[] type and the value passed to the argument is an array reference, convert it to a Perl SPVM::Data::Array object representing long[]. Will be done. The element value is converted by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric"> rule for converting Perl Scalar Value ​​to SPVM Numeric Value </a>.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is float[] type and the value passed to the argument is an array reference, convert it to a Perl SPVM::Data::Array object that represents float[]. Will be done. The element value is converted by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric"> rule for converting Perl Scalar Value ​​to SPVM Numeric Value </a>.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is double[] type and the value passed to the argument is an array reference, convert it to a Perl SPVM::Data::Array object that represents double[]. Will be done. The element value is converted by the <a href="#exchange-api-rule-perl-scalar-to-spvm-numeric"> rule for converting Perl Scalar Value ​​to SPVM Numeric Value </a>.
      </p>
      <p>
        If the argument type of the SPVM subroutine definition is an object[] type and the value passed to the argument is an array reference, convert it to a Perl SPVM::Data::Array object that represents object[]. Will be done. If the element value is an undefined value, it is converted to SPVM undefined, and if it is a non-reference scalar value, it is encoded to UTF-8 and converted to SPVM byte[] type. If it is an SPVM::Data object, it will not be converted. Otherwise, an exception will be raised.
      </p>
      
      <h4 id = "exchange-api-call-spvm-sub-convert-return-value"> Conversion in return value </h4>
      <p>
        If the return value is a numeric type of SPVM, <a href="#exchange-api-rule-spvm-numeric-to-perl-scalar"> Rule to convert the numeric type of SPVM to a scalar value of Perl It is converted to a Perl Scalar Value by </a>.
      </p>
      <p>
        If the return value is a SPVM multi-numeric type, it will be converted to a hash reference. The key is the SPVM multi-numeric field name and the value is <a href="#exchange-api-rule-spvm-numeric-to-perl-scalar"> SPVM Numeric Value is converted to Perl Scalar Value. The value is converted to a Perl Scalar Value by the rule </a>.
      </p>
      <p>
        If the return value is an undefined value for the SPVM object type, it will be converted to a Perl undefined value.
      </p>
      <p>
        If the return value is an SPVM array type (including generic object array type), it will be converted to the corresponding Perl SPVM::Data::Array object.
      </p>
      <p>
        If the return value is an object type other than the SPVM array type, it will be converted to the corresponding Perl SPVM::Data object.
      </p>
      
      <h3 id = "exchange-api-utility"> Utility </h3>
      <ul class = "toc">
        <li><a href="#exchange-api-utility-exception"> Get SPVM exception-exception </a> </ li>
        <li><a href="#exchange-api-utility-set_exception"> SPVM exception settings-set_exception </a> </ li>
        <li><a href="#exchange-api-utility-memory_blocks_count"> Get number of allocated memory blocks-memory_blocks_count </a> </ li>
      </ ul>
      
      <p>
        Other utilities.
      </p>

      <h4 id = "exchange-api-utility-exception"> Get SPVM exception-exception </h4>
      <p>
        Gets the SPVM exception. If the string is not undef, it is considered as UTF-8 and is the decoded string.
      </p>
<pre>
my $ exception = SPVM::exception ();
</pre>

      <h4 id = "exchange-api-perl-string-to-spvm-byte-array"> Convert Perl string to SPVM byte[] type-SPVM::new_byte_array_from_string </h4>
      <p>
        To convert Perl string to SPVM byte[] type, use SPVM::new_byte_array_from_string function. A Perl string here refers to a decoded string.
      </p>
<pre>
use utf8;
my $ spvm_byte_array = SPVM::new_byte_array_from_string ("aiueo");
</pre>
      <p>
        It receives a Perl string as the first argument. A Perl string here refers to a decoded string.
      </p>
      <p>
        The length is the length when counting the byte string as UTF-8.
      </p>
      <p>
        The return value is a "SPVM::Data::Array" object that represents the "byte[]" type of SPVM.
      </p>
      <p>
        If the first argument is an undefined value, the undefined value will be returned.
      </p>

      <h4 id= "exchange-api-perl-string-to-spvm-string">Perl Convert string to SPVM string-SPVM::new_string</h4>
      <p>
        To convert perl strings to SPVM string types, use the SPVM::new_string function. Perl strings refer to decoded strings here.
      </p>
<pre>
use utf8;
my $spvm_string = SPVM::new_string("Aiueo");
</pre>
      <p>
        The first argument takes a Perl string.
      </p>
      <p>
        The length is utf-8, the length of the byte sequence counted.
      </p>
      <p>
        The return value is the SPVM::Data::Array object that represents the "byte[] type" of SPVM. The string type of SPVM is treated as a byte[] type at run time.
      </p>
      <p>
        If the first argument is an undefined value, an undefined value is returned.
      </p>
      <p>
        This function is actually an alias for <a href="#exchange-api-perl-string-to-spvm-byte-array">SPVM::new_byte_array_from_string</a>.
      </p>

<h4 id="exchange-api-utility-set_exception">Setting spvm exceptions - set_exception</h4>
      <p>
        Sets the SPVM exception. The argument specifies the decoded string or undef.
      </p>
<pre>
SPVM:: set_exception ("Aiu");
SPVM:: set_exception (undef);
</pre>

<h4 id="exchange-api-utility-memory_blocks_count">Get the number of reserved memory blocks - memory_blocks_count</h4>
      <p>
        you can use memory_blocks_count function to get the number of reserved memory blocks.
      </p>
<pre>
my $count = SPVM::get_memory_blocks_count();
</pre>
      <p>
        The SPVM runtime reserves memory from the heap when generating objects and creating new week references. The memory reserved by a single memory retrieval operation is called a memory block.
      </p>
      <p>
        SPVM has a reference count GC, and usually you don't need to be aware of memory storage and release, but when you write a subroutine natively, you might want to make sure that there is no memory leak in your trial.
      </p>
<pre>
# First Memory Block Count
my $start_memory_blocks_count = SPVM::get_memory_blocks_count();

# Processing
# ...

# Last Memory Block Count
my $end_memory_blocks_count = SPVM::get_memory_blocks_count();

$end_memory_blocks_count == $start_memory_blocks_count) {
  die"Memroy leak";
}
</pre>

<h3 id="exchange-api-rule-perl-scalar-to-spvm-numeric">Rules for Converting Perl Scalar Value to SPVM Numeric Value</h3>

<p>
        The rules for converting Perl Scalar Value to SPVM Numeric Value are defined below.
      </p>
      <p>
        Conversion rules are written in C. SvIV and SvNV are functions defined in perlapi. int8_t, int16_t, int32_t, int64_t, float, double are the types defined in C99.
      </p>

<p>
        <b></b> to Convert Perl Scalar Value to SPVM byte
      </p>
      
<pre>
(int8_t) SvIV (perl_value)
</pre>

<p>
        <b>Convert Perl Scalar Value to SPVM short</b>
      </p>
<pre>
(int16_t) SvIV (perl_value)
</pre>

<p>
        <b>converts Perl Scalar Value to SPVM int</b>
      </p>
<pre>
(int32_t) SvIV (perl_value)
</pre>

<p>
        <b>Convert Perl Scalar Value to SPVM long</b>
      </p>
<pre>
(int64_t) SvIV (perl_value)
</pre>

<p>
        <b>converts Perl Scalar Value to SPVM float</b>
      </p>
<pre>
(float)SvNV(perl_value)
</pre>

<p>
        <b>converts Perl Scalar Value to SPVM double</b>
      </p>
<pre>
(double) SvNV(perl_value)
</pre>

<h3 id="exchange-api-rule-spvm-numeric-to-perl-scalar">Rules for converting SPVM Numeric Value to Perl Scalar Value</h3>

<p>
        The rules for converting Perl Scalar Value to SPVM Numeric Value are defined below.
      </p>
      <p>
        Conversion rules are written in C. newSViv and newSVnv are functions defined in perlapi. int8_t, int16_t, int32_t, int64_t, float, double are the types defined in C99.      
      </p>
      <p>
        Think of the Value of SPVM as indeterminate in the code sample, but contains the value.
      <p>

<p>
        <b></b> to Convert Perl Scalar Value to SPVM byte
      </p>
      
<pre>
int8_t spvm_value;
newSViv(spvm_value)
</pre>

<p>
        <b>Convert Perl Scalar Value to SPVM short</b>
      </p>
<pre>
int16_t spvm_value;
newSViv(spvm_value)
</pre>

<p>
        <b>converts Perl Scalar Value to SPVM int</b>
      </p>
<pre>
int32_t spvm_value;
newSViv(spvm_value)
</pre>

<p>
        <b>Convert Perl Scalar Value to SPVM long</b>
      </p>
<pre>
int64_t spvm_value;
newSViv(spvm_value)
</pre>

<p>
        <b>converts Perl Scalar Value to SPVM float</b>
      </p>
<pre>
float spvm_value;
newSVnv (spvm_value)
</pre>

<p>
        <b>converts Perl Scalar Value to SPVM double</b>
      </p>
<pre>
double spvm_value;
newSVnv (spvm_value)
</pre>
    </div>
