<h2>SPVM Document</h2>

SPVM is a programming language. SPVM is developed improve the performance of Perl's numerical and array operations.

<h3 id="tutorial">SPVM Performance Benchmark</h3>

<ul class="toc">
  <li><a href="/benchmark.html">SPVM Performance Benchmark</a></li>
</ul>

<h3 id="tutorial">SPVM Tutorial</h3>
  
<b>SPVM Tutorial</b> explains how to install SPVM, how to use SPVM, and how to improve SPVM numerical and array performance.

<ul class="toc">
  <li><a href="/tutorial.html">SPVM Tutorial</a></li>
</ul>

<h3 id="tutorial">SPVM Language Specification</h3>

<ul class="toc">
  <li><a href="/language.html">SPVM Language Specification</a></li>
</ul>

<h3 id="exchange-api">SPVM Exchange API</h3>

<ul class="toc">
  <li><a href="/exchange-api.html">SPVM Exchange API</a></li>
</ul>

<h3 id="native-api">SPVM Native API</h3>

<ul class="toc">
  <li><a href="/native-api.html">SPVM Native API</a></li>
</ul>

<h3 id="modules">SPVM Core Modules</h3>

<ul class="toc">
  <li><a href="/modules.html">SPVM Core Modules</a></li>
</ul>
