<h2>SPVM Document</h2>

SPVM is a Programming launguage which has <a href="/language.html">Perl-like syntax</a>. You can <a href="/blog/20200630071424.html">install SPMV from CPAN</a>. Linux/UNIX, Mac, Windows is supported.

<pre>
cpan SPVM
</pre>

or

<pre>
cpanm SPVM
</pre>


Perl-like source code is converted to <a href="/blog/20200702071424.html">C shared library</a>. This example is <a href="/blog/20200629071424.html">numeric array operation</a>.

<pre>
package MyMath : precompile {
  sub sum : int ($nums : int[]) {
    
    my $total = 0;
    for (my $i = 0; $i < @$nums; $i++) {
      $total += $nums->[$i];
    }
    
    return $total;
  }
}
</pre>

You can call this SPVM subroutine from Perl easily. Note that "~/.spvm_build" directory is needed.

<pre>
use strict;
use warnings;
use FindBin;
use lib "$FindBin::Bin/lib";

use SPVM 'MyMath';

# Call subroutine
my $total = MyMath->sum([3, 6, 8, 9]);

print "Total: $total\n";
</pre>

Try the <a href="/benchmark.html">SPVM Benchmark</a> once. The result is amazing.

SPVM also has utilities to <a href="/blog/20200727153549.html">bind C/C++/Cuda</a> functions for even faster peformance. See also <a href="/native-api.html">Native API</a>.

<h3 id="tutorial">SPVM Tutorial</h3>

<ul class="toc">
  <li><a href="/blog/20200630071424.html">SPVM Installation</a></li>
  <li><a href="/blog/20200629071424.html">SPVM Getting Started - Numeric Array Operations</a></li>
  <li><a href="/blog/20200702071424.html">How to improve SPVM Performance using Precompile and Native API</a></li>
  <li><a href="/blog/20200727153549.html">How to Bind C/C++/CUDA Library to SPVM</a></li>
  <li><a href="/blog/20200821151908.html">Complex Tutorial</a></li>
</ul>

<h3 id="tutorial">SPVM Language Specification</h3>

You can see SPVM Language Specification.

<ul class="toc">
  <li><a href="/language.html">SPVM Language Specification</a></li>
</ul>

<h3 id="native-api">SPVM Native API</h3>

You can see SPVM Language Specification.

<ul class="toc">
  <li><a href="/native-api.html">SPVM Native API</a></li>
</ul>

<h3 id="tutorial">SPVM Performance Benchmark</h3>

<ul class="toc">
  <li><a href="/benchmark.html">SPVM Performance Benchmark</a></li>
</ul>

<h3 id="exchange-api">SPVM Exchange API</h3>

<ul class="toc">
  <li><a href="/exchange-api.html">SPVM Exchange API</a></li>
</ul>
